<footer class="footer">
  <div class="footer__inner">
    <div class="footer__brand">
      <span class="footer__logo">XEIC RUNNERS</span>
      <p class="footer__tagline">
        {{ i18n.t("footer.copyright") }} {{ i18n.t("footer.tagline") }}
      </p>
    </div>

    <div class="footer__nav">
      <div class="footer__nav-group">
        <span class="footer__nav-title">{{ i18n.t("footer.links") }}</span>
        <ul class="footer__nav-list">
          <li>
            <a
              href="https://www.instagram.com/xeicrunners/"
              target="_blank"
              class="footer__nav-link"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.strava.com/clubs/1576309"
              target="_blank"
              class="footer__nav-link"
              >Strava</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
